<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DZ_2_2</title>
</head>

<body>
    <h1>
        Завдання 2
    </h1>
    <h3>
        Складіть файл urls.py, який:
        <ul>
            <li>§ направляє URL з 'index/' у метод views.index і задає ім'я для цього URL як 'index-view'.</li>
            <li>§ направляє URL з 'bio/{ім'я користувача}/' у метод views.bio разом з ім'ям користувача як аргумент username та
                задає ім'я для цього URL як 'bio'.</li>
            <li>§ передає запити, що починаються з 'lesson_1/' в модуль 'lesson_1.urls' разом із залишком URL.</li>
        </ul> 
        
        
        

    </h3>
</body>

</html>